@import "./breakpoints.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #549ef8;
}

main {
  margin-top: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
  width: 100%;
  max-width: 960px;
  @media (max-width: $large) {
    flex-direction: column;
    max-width: 400px;
  }
  @media (max-width: $small) {
    max-width: 300px;
  }
}

ul {
  display: flex;
  justify-content: space-around;

  @media (max-width: $large) {
    flex-direction: column;
    max-width: 400px;
  }
  @media (max-width: $small) {
    max-width: 300px;
  }
}

li {
  color: rgb(26, 127, 241);
  display: inline-block;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
  p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
  }

  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  img {
    padding-top: 35px;
    width: 210px;
  }
  button {
    margin-bottom: 55px;
    border-radius: 9%;
    border-color: #549ef8;
    border-width: 1px;
    color: #549ef8;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    background-color: solid white;
  }
}

.image-name {
  color: gray;
  padding-bottom: 40px;
}

.first-column,
.second-column {
  border-right: solid gray;
  border-width: 0.5px;
}
